@charset "ISO-8859-1";
/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the body takes full viewport height */
}

/* Container */
.container {
    width: 100%;
    max-width: 500px; /* Set a max-width for better responsiveness */
    margin: 20px; /* Add some margin around the container */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading */
h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center; /* Center-align the heading text */
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #555;
}

input[type="text"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

input[type="submit"] {
    background-color: #00c853;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    width: 100%;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #00a944;
}

/* Dummy credit card image styling */
.credit-card-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}